
<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->

<!-- Mirrored from amentotech.com/htmls/tenanto/propertysingle.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Dec 2024 07:00:45 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BootStrap HTML5 CSS3 Theme</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="../detail_page/css/bootstrap.min.css">
	<link rel="stylesheet" href="../detail_page/css/normalize.css">
	<link rel="stylesheet" href="../detail_page/css/fontawesome/fontawesome-all.css">
	<link rel="stylesheet" href="../detail_page/css/linearicons.css">
	<link rel="stylesheet" href="../detail_page/css/themify-icons.css">
	<link rel="stylesheet" href="../detail_page/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../detail_page/css/fullcalendar.min.css">
	<link rel="stylesheet" href="../detail_page/css/prettyPhoto.css">
	<link rel="stylesheet" href="../detail_page/css/jquery-ui.css">
	<link rel="stylesheet" href="../detail_page/css/tipso.css">
	<link rel="stylesheet" href="../detail_page/css/lightpick.css">
	<link rel="stylesheet" href="../detail_page/css/main-min.css">
	<link rel="stylesheet" href="../detail_page/css/transitions.css">
	<link rel="stylesheet" href="../detail_page/css/responsive-min.css">
	<script src="../detail_page/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	<style>
  #map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px; /* Rounded corners */
    border: 1px solid #ccc; /* Light gray border */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

</style>

</head>
<body>

	
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Preloader Start -->
	
	<!-- Preloader End -->
	<!-- Wrapper Start -->
	<div id="at-wrapper" class="at-wrapper at-haslayout">
		
		<!-- Inner Banner Start -->
		<div class="at-haslayout at-propertybannerholder">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-12">
						<div class="at-propertybannercontent">
							<div class="at-propertyholder">
								<figure class="at-propertyuserimg at-verifieduser">
									<img src="/images/default.png" onerror="this.src='/images/default_user.png';" alt="img description">
									<i class="fa fa-shield-alt"></i>
								</figure>
								<div class="at-title">
									<div class="at-tags">
										<a href="javascript:void(0);" class="at-tag">Featured</a>
										<a href="javascript:void(0);" class="at-tag at-rated">Top Rated</a>
									</div>
									<div class="at-username">
										<a href="{{listing.host.host_url}}">{{listing.host.host_name}}</a>
										<h2>{{listing.name}}</h2>
										<address><i class="fa fa-location-arrow"></i>{{listing.address.street}}</address>
									</div>
								</div>
							</div>
							<div class="at-rightarea">
								<div class="at-singlerate">
									<span><em>${{listing.price}}</em>/night</span>
								</div>
								<div class="at-featurerating">
									<span class="at-stars"><span></span></span><em>{{listing.reviews.length}} review</em>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
						
		
				
		</div>
		<!-- Home Slider End -->
		<!-- Main Start -->
		<main id="at-main" class="at-main at-haslayout">
			<!-- Two Columns Start -->
			<div class="at-haslayout ">
				<div class="container">
					<div class="row">
						<div id="at-twocolumns" class="at-twocolumns at-haslayout">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-4 float-right">
								<aside id="at-sidebar" class="at-sidebar float-left mt-md-0">
									<div class="at-sideholder">
										<a href="javascript:void(0);" id="at-closesidebar" class="at-closesidebar"><i class="ti-close"></i></a>
										<div class="at-sidescrollbar">
											<div class="at-widgets-holder at-textfee-holder">
												<div class="at-widgets-title at-title-textfee" id="headingone" data-toggle="collapse" data-target="#collapseone"  role="heading">
													<h2>Price Break Down</span></h2>
												</div>
												<div class="at-widgets-content collapse show" id="collapseone" aria-labelledby="headingone">
													<ul class="at-taxesfees">
														<li><span>Price <em>${{listing.price}}</em></span></li>
														<li><span>Security Deposit <em>${{listing.security_deposit}}</em></span></li>
														<li><span>Cleaning Fee <em>${{listing.cleaning_fee}}</em></span></li>
													</ul>
												</div>
												
											</div>
											<div class="at-widgets-holder">
												<div class="at-widgets-title">
													<h2>About Host</h2>
												</div>
												<div class="at-widgets-content at-authorholder at-authorholdertwo">
													<figure class="at-authorimg at-verifieduser">
													<img src="/images/default.png" onerror="this.src='/images/default_user.png';" style="height:60px;" alt="img description">
													<i class="fa fa-shield-alt"></i>
													</figure>
													<div class="at-authordetails">
														<div class="at-featurerating">
															<span class="at-stars"><span></span></span><em>{{listing.reviews.length}}</em>
														</div>
														<h3>{{listing.host.host_name}}</h3>
														<span><strong>Response:</strong> {{listing.host.host_response_time}} </span>
													</div>
													<div class="at-btnarea">
														<a href="{{listing.host.host_url}}" class="at-btn">View All My Ads</a>
														<a href="{{listing.host.host_url}}" class="at-btncontact">Contact Direct To Host</a>
													</div>
												</div>
											</div>
											<!-- Add the Map Here -->
											<div class="at-widgets-holder">
												<div class="at-widgets-title">
													<h2>Map Location</h2>
												</div>
												<div class="at-widgets-content">
													<div id="map"
														style="height: 300px; width: 100%; margin-top: 20px; border-radius: 8px; border: 1px solid #ccc; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
													</div>
												</div>
											</div>
											
											<script>
												function initMap() {
													const address = "{{listing.address.street}}, {{listing.address.suburb}}, {{listing.address.government_area}}, {{listing.address.country}}"; // Construct full address
													const geocoder = new google.maps.Geocoder();

													geocoder.geocode({ 'address': address }, function (results, status) {
														if (status === 'OK') {
															const map = new google.maps.Map(document.getElementById('map'), {
																center: results[0].geometry.location,
																zoom: 14,
																styles: [ 
																	{
																		"featureType": "water",
																		"elementType": "geometry",
																		"stylers": [
																			{ "color": "#e9e9e9" },
																			{ "lightness": 17 }
																		]
																	},
																	{
																		"featureType": "landscape",
																		"elementType": "geometry",
																		"stylers": [
																			{ "color": "#f5f5f5" },
																			{ "lightness": 20 }
																		]
																	},
																]
															});
															new google.maps.Marker({
																position: results[0].geometry.location,
																map: map
															});
														} else {
															alert('Geocode was not successful for the following reason: ' + status);
														}
													});
												}
											</script>
											
											
											
											<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq23-5vXCUDeOshMmwebAAeh8o7uYyZ6w&callback=initMap" async
												defer></script>
											
											
											</div>
											</div>
											</aside>
											</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-8 float-left">
                              
							        <img src="{{listing.images.picture_url}}" class="img-fluid mb-5 rounded" onerror="this.href='/images/default image.png';" alt="img description" >
						        
								<div class="at-gridlist-option at-option-mt">
									<a href="javascript:void(0);" id="at-btnopenclose" class="at-btnopenclose"><i class="ti-settings"></i></a>
								</div>
								<div class="at-propertylinkdetails at-haslayout">
									<ul class="at-propertylink">
										<li><a href="#at-about">About</a></li>
										<li><a href="#at-amenetiesproperty">Ameneties Others</a></li>
										<li><a href="#at-locationsproperty">Nearby</a></li>
										<li><a href="#at-availability">Availability</a></li>
										<li><a href="#at-termspolicy-holder">Terms &amp; Rules</a></li>
										<li><a href="#at-comments">Reviews</a></li>
										<li><a href="javascript:void(0);"><i class="ti-more-alt"></i></a></li>
									</ul>
									<div id="at-about" class="at-propertydetails at-aboutproperty">
										<div class="at-propertytitle">
											<h3>Summary</h3>
										</div>
										<div class="at-description">
											{{listing.summary}}
										</div>
									</div>
                                    <div id="at-about" class="at-propertydetails at-aboutproperty">
										<div class="at-propertytitle">
											<h3>Space</h3>
										</div>
										<div class="at-description">
											{{listing.space}}
										</div>
									</div>
                                    <div id="at-about" class="at-propertydetails at-aboutproperty">
										<div class="at-propertytitle">
											<h3>Description</h3>
										</div>
										<div class="at-description">
											{{listing.description}}
										</div>
									</div>
                                    <div id="at-about" class="at-propertydetails at-aboutproperty">
										<div class="at-propertytitle">
											<h3>Neighborhood Overview</h3>
										</div>
										<div class="at-description">
											{{listing.neighborhood_overview}}
										</div>
									</div>
                                    <div id="at-about" class="at-propertydetails at-aboutproperty">
										<div class="at-propertytitle">
											<h3>Notes</h3>
										</div>
										<div class="at-description">
											{{listing.notes}}
										</div>
									</div>
                                    <div id="at-about" class="at-propertydetails at-aboutproperty">
										<div class="at-propertytitle">
											<h3>Transit</h3>
										</div>
										<div class="at-description">
											{{listing.transit}}
										</div>
									</div>
                                    <div id="at-about" class="at-propertydetails at-aboutproperty">
										<div class="at-propertytitle">
											<h3>Access</h3>
										</div>
										<div class="at-description">
											{{listing.access}}
										</div>
									</div>
									<div class="at-propertydetails at-detailsproperty">
										<div class="at-propertytitle">
											<h3>Property Details</h3>
										</div>
										<ul class="at-detailslisting">
											<li><h4>Property Type</h4><span>04 Guests</span></li>
											<li><h4>Room Type</h4><span>rooom_type</span></li>
											<li><h4>Bed Type</h4><span>{{listing.bed_type}}</span></li>
											<li><h4>Minimum Nights</h4><span>{{listing.minimum_nights}}</span></li>
											<li><h4>Maximum Nights</h4><span>{{listing.maximum_nights}}</span></li>
											<li><h4>Cancellation Policy</h4><span>{{listing.cancellation_policy}}</span></li>
											<li><h4>Accommodates</h4><span>{{listing.accommodates}}</span></li>
                                            <li><h4>Bedrooms</h4><span>{{listing.bedrooms}}</span></li>
                                            <li><h4>Beds</h4><span>{{listing.beds}}</span></li>
                                            <li><h4>Bathrooms</h4><span>{{listing.bathrooms}}</span></li>
                                        </ul>
									</div>
									<div id="at-amenetiesproperty" class="at-propertydetails at-amenetiesproperty">
										<div class="at-propertytitle">
											<h3>Ameneties</h3>
										</div>
										<ul id="at-amenetieslisting" class="at-amenetieslisting">
                                             {{#each listing.amenities}}
											<li>
												<div class="at-amenetiesicon">
													<i><img src="../images/icons/img-01.jpg" alt="img description"></i>
												</div>
												<div class="at-amenetiescontent">
													<span>{{this}}</span>
												</div>
											</li>
                                            {{/each}}
										</ul>
									</div>
									
									
									<div id="at-termspolicy-holder" class="at-termspolicy-holder at-haslayout">
										<div class="at-termspolicy">
											
											<div class="at-termspolicy-content">
												<div class="at-title">
													<h3>Rules</h3>
												</div>
												<div class="at-description">
													<p>{{listing.house_rules}}</p>
												</div>
												
											</div>
										</div>
									</div>
									<div id="at-comments" class="at-comments at-commentstwo">
										<div class="at-title">
											<h2>{{listing.reviews.length}} Reviews</h2>
										</div>
										<ul>
                                            {{#each listing.reviews}}
											<li>
												<div class="at-comment">
													
													<div class="at-commentdetails">
														<div class="at-title">
															<a href=" javascript:void(0);">{{this.reviewer_name}}</a>
															<h3>{{this.comments}}</h3>
															<span>{{updateDate this.date 2019 6 27}}</span>
														</div>
														
														
													</div>
												</div>
											</li>
											{{/each}}
											<li class="at-btnarea">
												<a href="javascript:void(0);" class="at-btn">View All</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Two Columns End -->
		</main>
		<!-- Main End -->
	
	</div>
	<!-- Wrapper End -->
	<!-- Login Popup Start-->
	<div class="modal fade at-loginpopup" tabindex="-1" role="dialog" id="loginpopup" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="at-modalcontent modal-content">
				<div class="at-popuptitle">
					<h4>Login</h4>
					<a href="javascript:void(0);" class="at-closebtn close"><i class="lnr lnr-cross" data-dismiss="modal"></i></a>
				</div>
				<div class="modal-body">
					<form class="at-formtheme at-formlogin">
						<fieldset>
							<div class="form-group">
								<input type="text" name="email" value="" class="form-control" placeholder="Your Email*" required="">
							</div>
							<div class="form-group">
								<input type="password" value="" class="form-control" placeholder="Password*">
							</div>
							<div class="form-group at-btnarea">
								<span class="at-checkbox">
									<input id="at-login" type="checkbox" name="rememberme">
									<label for="at-login">Remember me here</label>
								</span>
								<button type="submit" class="at-btn">login</button>
							</div>
						</fieldset>
					</form>
					<span class="at-optionsbar"><em>or</em></span>
					<div class="at-loginicon">
						<ul>
							<li><a href="javascript:void(0);" class="at-facebookbox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
							<li><a href="javascript:void(0);" class="at-googlebox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
						</ul>
					</div>
				</div>
				 <div class="modal-footer">
				 	<div class="at-popup-footerterms">
				 		<span>By signing in  you agree to these <a href="javascript:void(0);"> Terms &amp; Conditions</a> &amp; consent to<a href="javascript:void(0);"> Cookie Policy &amp; Privacy Policy.</a></span>
				 	</div>
				 	<div class="at-loginfooterinfo">
						<a href="javascript:void(0);"><em>Not a member?</em> Signup Now</a>
						<a href="javascript:;" class="at-forgot-password">Forgot password?</a>
					</div>
				 </div>
			</div>
		</div>
	</div>
	<!-- Login Popup End-->
	<!-- Register Popup Start-->
	<div class="modal fade at-loginpopup" tabindex="-1" role="dialog" id="registerpopup" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="at-modalcontent modal-content">
				<div class="at-popuptitle">
					<h4>Register</h4>
					<a href="javascript:void(0);" class="at-closebtn close"><i class="lnr lnr-cross" data-dismiss="modal"></i></a>
				</div>
				<div class="modal-body">
					<form class="at-formtheme at-formlogin">
						<fieldset>
							<div class="form-group">
								<input type="text" name="email" value="" class="form-control" placeholder="Your Email*" required="">
							</div>
							<div class="form-group">
								<input type="password" value="" class="form-control" placeholder="Password*">
							</div>
							<div class="form-group">
								<input type="password" value="" class="form-control" placeholder="Retype Password*">
							</div>
							<div class="form-group at-btnarea">
								<button type="submit" class="at-btn">Register</button>
							</div>
						</fieldset>
					</form>
					<span class="at-optionsbar"><em>or</em></span>
					<div class="at-loginicon">
						<ul>
							<li><a href="javascript:void(0);" class="at-facebookbox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
							<li><a href="javascript:void(0);" class="at-googlebox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
						</ul>
					</div>
				</div>
				 <div class="modal-footer">
				 	<div class="at-popup-footerterms">
				 		<span>By signing in  you agree to these <a href="javascript:void(0);"> Terms &amp; Conditions</a> &amp; consent to<a href="javascript:void(0);"> Cookie Policy &amp; Privacy Policy.</a></span>
				 	</div>
				 	<div class="at-loginfooterinfo">
						<a href="javascript:void(0);"><em>Have Account?</em> Login Now</a>
						<a href="javascript:;" class="at-forgot-password">Forgot Your Password?</a>
					</div>
				 </div>
			</div>
		</div>
	</div>
	<!-- Register Popup End-->
	<!-- Find Property Popup Start-->
	<div class="modal fade at-findpropertypopup" tabindex="-1" role="dialog" id="findproperty" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="at-modalcontent modal-content">
				<div class="at-slider-content">
					<div class="at-title">
						<h4>Start Your Search Here</h4>
						<a href="javascript:void(0);" class="at-closebtn close"><i class="lnr lnr-cross" data-dismiss="modal"></i></a>
					</div>
					<div class="at-findpropertypopup-content at-haslayout">
						<div class="row">
							<div class="col-12 col-md-12 col-lg-6 float-left">
								<form class="at-formtheme at-formbanner">
									<fieldset class="at-datetime">
										<div class="form-group">
											<div class="at-select">
												<select >
													<option value="" hidden>Where You Want To Stay</option>
													<option value="twitter">China</option>
													<option value="linkedin">France</option>
													<option value="rss">Germany</option>
													<option value="vimeo">Italy</option>
													<option value="tumblr">Japan</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<div class="at-selectdate-holder">
												<div class="at-select">
													<label>Check-In:</label>
													<input type="text" id="at-startdatetwo" class="form-control" placeholder="date">
												</div>
												<div class="at-select">
													<label>Check-Out:</label>
													<input type="text" id="at-enddatetwo" class="form-control" placeholder="date">
												</div>
												<a href="javascript:void(0);" class="at-calendarbtn"><i class="ti-calendar"></i></a>
											</div>
										</div>
									</fieldset>
									<fieldset class="at-guestsform">
										<legend class="at-formtitle">Guests</legend>
										<div class="form-group">
											<ul class="at-guestsinfo">
												<li>
													<div class="at-gueststitle">
														<span>Adults</span>
													</div>
													<div class="at-guests-radioholder">
														<span class="at-radio">
															<input id="at-adults1p" type="radio" name="adults" value="adults" checked="">
															<label for="at-adults1p">01</label>
														</span>
														<span class="at-radio">
															<input id="at-adults2p" type="radio" name="adults" value="adults2">
															<label for="at-adults2p">02</label>
														</span>
														<span class="at-radio">
															<input id="at-adults3p" type="radio" name="adults" value="adults3">
															<label for="at-adults3p">03</label>
														</span>
														<div class="at-dropdown">
															<span><em class="selected-search-type">Other </em><i class="ti-angle-down"></i></span>
														</div>
														<div class="at-radioholder">
															<span class="at-radio">
																<input id="at-adults4p" data-title="04" type="radio" name="adults" value="adults4">
																<label for="at-adults4p">04</label>
															</span>
															<span class="at-radio">
																<input id="at-adults5p" data-title="05" type="radio" name="adults" value="adults5">
																<label for="at-adults5p">05</label>
															</span>
															<span class="at-radio">
																<input id="at-adults6p" data-title="06" type="radio" name="adults" value="adults6">
																<label for="at-adults6p">06</label>
															</span>
														</div>
													</div>
												</li>
												<li>
													<div class="at-gueststitle">
														<span>Children <em>(Ages 2–12)</em></span>
													</div>
													<div class="at-guests-radioholder">
														<span class="at-radio">
															<input id="at-adultsv1p" type="radio" name="adultsv" value="adultsv1">
															<label for="at-adultsv1p">01</label>
														</span>
														<span class="at-radio">
															<input id="at-adultsv2p" type="radio" name="adultsv" value="adultsv2">
															<label for="at-adultsv2p">02</label>
														</span>
														<span class="at-radio">
															<input id="at-adultsv3p" type="radio" name="adultsv" value="adultsv3" checked="">
															<label for="at-adultsv3p">03</label>
														</span>
														<div class="at-dropdown">
															<span><em class="selected-search-type">Other </em><i class="ti-angle-down"></i></span>
														</div>
														<div class="at-radioholder">
															<span class="at-radio">
																<input id="at-adultsv4p" data-title="04" type="radio" name="adultsv" value="adultsv4">
																<label for="at-adultsv4p">04</label>
															</span>
															<span class="at-radio">
																<input id="at-adultsv5p" data-title="05" type="radio" name="adultsv" value="adultsv5">
																<label for="at-adultsv5p">05</label>
															</span>
															<span class="at-radio">
																<input id="at-adultsv6p" data-title="06" type="radio" name="adultsv" value="adultsv6">
																<label for="at-adultsv6p">06</label>
															</span>
														</div>
													</div>
												</li>
												<li>
													<div class="at-gueststitle">
														<span>Infants <em>(Under 2)</em></span>
													</div>
													<div class="at-guests-radioholder">
														<span class="at-radio">
															<input id="at-adultsv11" type="radio" name="adultsb" value="adultsb" checked="">
															<label for="at-adultsv11">01</label>
														</span>
														<span class="at-radio">
															<input id="at-adultsv2bp" type="radio" name="adultsb" value="adults2b">
															<label for="at-adultsv2bp">02</label>
														</span>
														<span class="at-radio">
															<input id="at-adults3bp" type="radio" name="adultsb" value="adults3b">
															<label for="at-adults3bp">03</label>
														</span>
														<div class="at-dropdown">
															<span><em class="selected-search-type">Other </em><i class="ti-angle-down"></i></span>
														</div>
														<div class="at-radioholder">
															<span class="at-radio">
																<input id="at-adults4bp" data-title="04" type="radio" name="adultsb" value="adults4b">
																<label for="at-adults4bp">04</label>
															</span>
															<span class="at-radio">
																<input id="at-adults5bp" data-title="05" type="radio" name="adultsb" value="adults5b">
																<label for="at-adults5bp">05</label>
															</span>
															<span class="at-radio">
																<input id="at-adults6bp" data-title="06" type="radio" name="adultsb" value="adults6b">
																<label for="at-adults6bp">06</label>
															</span>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</fieldset>
								</form>
							</div>
							<div class="col-12 col-md-12 col-lg-6 float-left">
								<form class="at-formtheme at-formbanner">
									<fieldset class="at-roomform">
										<legend class="at-formtitle">Room Type</legend>
										<div class="form-group">
											<div class="at-room-radioholder at-room-radiovtwo">
												<span class="at-radio">
													<input id="at-privatep" type="radio" name="privatep" checked>
													<label for="at-privatep">
														<img src="images/radio-imgs/img-04.jpg" alt="img">
														<span><em>Private Room</em> (58,1250)</span>
													</label>
												</span>
												<span class="at-radio">
													<input id="at-sharedp" type="radio" name="privatep">
													<label for="at-sharedp">
														<img src="images/radio-imgs/img-05.jpg" alt="img">
														<span><em>Shared Room</em> (31,5245)</span>
													</label>
												</span>
												<span class="at-radio">
													<input id="at-entirep" type="radio" name="privatep">
													<label for="at-entirep">
														<img src="images/radio-imgs/img-06.jpg" alt="img">
														<span><em>Entire Place</em> (22,4523)</span>
													</label>
												</span>
											</div>
										</div>
										<div class="form-group at-btnarea">
											<a href="javascript:void(0);" class="at-btn">Search Now</a>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Find Property Popup End-->
	<script src="../detail_page/js/vendor/jquery-library.js"></script>
	<script src="../detail_page/js/vendor/bootstrap.min.js"></script>
	<script src="../detail_page/js/owl.carousel.min.js"></script>
	<script src="../detail_page/js/prettyPhoto.js"></script>
	<script src="../detail_page/js/moment.min.js"></script>
	<script src="../detail_page/js/jquery-ui.js"></script>
	<script src="../detail_page/js/fullcalendar.min.js"></script>
	<script src="../detail_page/js/appear.js"></script>
	<script src="../detail_page/js/tipso.js"></script>
	<script src="../detail_page/js/readmore.js"></script>
	<script src="../detail_page/js/lightpick.js"></script>
	<script src="../detail_page/js/main-min.js"></script>
	
	



</body>

<!-- Mirrored from amentotech.com/htmls/tenanto/propertysingle.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Dec 2024 07:01:03 GMT -->
</html>